.order-details img {
  width: 10%;
}
@media only screen and (max-width: 768px) {
  .order-details img {
    width: 20%;
  }
}
h5 {
  font-size: 1.1rem;
}
.icon-delete {
  width: 40%;
}
hr {
  opacity: 0.5;
  color: rgba(168, 168, 168, 0.438);
  background: rgba(136, 136, 136, 0.5);
}
