.rounded {
  border-radius: 15px !important;
}
.error {
  color: red;
}
.success {
  color: green;
}
.add-product {
  background: white;
  border-radius: 20px;
  padding: 10px;
}
.my-btn {
  color: white;
  border-radius: 25px;
  padding: 7px 20px;
  font-size: 15px;
  font-weight: 500;
}
.my-btn:hover {
  color: white !important;
}
